<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCM: Channels</title>
    <link rel="shortcut icon" href="data:image/x-icon;,"type="image/x-icon">
    <link rel="stylesheet" href="/styles.css" type="text/css"> <!-- Link to your CSS file -->
    <style>
        .title-container {
            height: 80px;
        }
        input {
            margin-bottom: 10px; 
            padding: 5px;
            width: 88%;
        }
    </style>
</head>
<body>

    <header>
        <!-- Your header content goes here -->
        <h1>Blockchain Manager</h1>
        <%- include('partials/navbar', { user: user }) %>
    </header>

    <div class="content-container">
        <main>
            <!-- Your main content goes here -->
            <div class="title-container">
                <h2><strong>Channels</strong></h2>
            </div>
            <input type="text" id="searchInput" placeholder="Search by channel name...">
            <table id="dataTable"></table>
        </main>
    </div>

    <!-- Your JavaScript scripts or external links go here -->
    <script>
        const id = <%- JSON.stringify(bid) %>;
        async function fetchDataAndRender(bid) {
            try {
                // Fetch JSON data from the server
                const response = await fetch(`/api/${bid}/channel`);
                let data = await response.json();
                //data = data[0];

                var table = document.getElementById("dataTable");
                table.innerHTML = '';

                data.forEach((item, i) => {
                    if (i === 0) {
                        const keys = Object.keys(item);
                        const headerRow = table.insertRow();
                        keys.forEach(k => {
                            const headerCell = document.createElement("th");
                            if (k === "orgs") k = "Enrolled_Organizations";
                            else if (k === "contracts") k = "Deployed_Contracts";
                            const headerText = document.createTextNode(k.toUpperCase());
                            headerCell.appendChild(headerText);
                            headerRow.appendChild(headerCell);
                        });
                    }
                    const values = Object.values(item);
                    const dataRow = table.insertRow();
                    console.log(values)
                    values.forEach((v, i) => {
                        const dataCell = document.createElement("td");
                        if (Array.isArray(v) && (typeof v[0] === 'string')) v = v.join(', ');
                        else if (Array.isArray(v) && (typeof v[0] === 'object')) v = v.length;
                        else if (Array.isArray(v)) v = v.length;
                        const dataText = document.createTextNode(v);
                        dataCell.appendChild(dataText);
                        dataRow.appendChild(dataCell);
                    });
                });
                const dataRows = table.querySelectorAll('tr:nth-child(n + 2)'); // Select all rows except the first (header) row
                dataRows.forEach((row, i) => {
                    row.addEventListener('click', () => {
                        // Handle row click event here
                        window.location.href = `/contracts?bid=${bid}&chid=${data[i].name}`;
                    });
                });
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }
        document.getElementById('searchInput').addEventListener('input', function () {
            const filter = this.value.toLowerCase();
            const rows = document.querySelectorAll('#dataTable tr');

            rows.forEach((row, index) => {
                if (index === 0) return; // Skip header row
                const cells = row.getElementsByTagName('td');
                const name = cells[0]?.textContent?.toLowerCase() || ''; // Adjust index if needed
                if (name.includes(filter)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
        fetchDataAndRender(id);
    </script>

    <%- include('partials/footer') %>

</body>
</html>
