<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCM: Login</title>
    <link rel="shortcut icon" href="data:image/x-icon;,"type="image/x-icon">
    <link rel="stylesheet" href="/styles.css" type="text/css"> <!-- Link to your CSS file -->
    <style>
        .form-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Four columns in total */
            gap: 10px; /* Spacing between grid items */
            max-width: 500px;
            margin: auto;
        }
        label {
            grid-column: span 2; /* Each label occupies one column */
            text-align: left;
        }
        input {
            margin-bottom: 10px; 
            padding: 5px;
            grid-column: span 2; /* Each input field occupies one column */
        }
        button {
            width: 90%; /* Full width of the grid */
            cursor: pointer;
            padding: 5px 10px;
            background-color: #0f41e4ad;
            color: #fff;
            border: none;
            border-radius: 4px;
        }
        .title-container {
            height: 70px;
        }
    </style>
</head>
<body>
    <header>
        <!-- Your header content goes here -->
        <h1>Blockchain Manager</h1>
        <%- include('partials/navbar', { user: user }) %>
    </header>

    <div class="content-container">
        <main>
            <div class="title-container">
                <h2><strong>Login Form</strong></h2>
            </div>
            <form id="login" class="form-grid" action="/auth/login" method="POST">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" required>
        
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" required>

            </form>
            <br>
            <button type="button" id="btn">Login</button>
          </main>
    </div>

    <script>
        const btn = document.getElementById('btn');
        const form = document.getElementById('login');
        btn.addEventListener('click', async () => {
            const inputs = Array.from(form.querySelectorAll('input'));
            const user = {};
            for (let i=0; i<inputs.length; i++) {
                if (inputs[i].value === '') {
                    alert(`Field "${inputs[i].name}" should not be empty`);
                    return;
                }
                user[inputs[i].name] = inputs[i].value;
            }
            const response = await fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            });
            let data = await response.json();
            if (data.message !== undefined) {
                alert(data.message);
                return;
            }
            window.location.href = '/';
        })
    </script>

    <%- include('partials/footer') %>
</body>
</html>
