<footer>
    <!-- Your footer content goes here -->
    <div>
        <i class="fab fa-github"></i> <a href="https://github.com/jacastillo8/Blockchain_Manager" style="color: #ccc; margin-right: 50px;">Blockchain Manager (BCM)</a>
        <i class="fas fa-envelope"></i> <a href="mailto:jorge.a.castillo01@utrgv.edu" style="color: #ccc;">jorge.a.castillo01@utrgv.edu</a>
    </div>
</footer>